---
Language: Cpp
# From github.com/frederic-perez/Clang-format-playground
AccessModifierOffset: -2 # = -IndentWidth # [Stroustrup-2013, p. 49; A. Koenig-1999, p. 1]
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: DontAlign
AlignOperands: false
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false # Ease debugging (setting breakpoints)
AllowShortCaseLabelsOnASingleLine: true # [Pohl-2002, p. 428]
# AllowShortFunctionsOnASingleLine: InlineOnly
# AllowShortIfStatementsOnASingleLine: Never # Ease debugging (setting breakpoints)
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false # [Dewhurst-2002, Gotcha #35]
  AfterControlStatement: false # if-else: [Koenig-1999, p. 16; Meyers-2014, p. 218], for: [Koenig-1999, p. 97; Stroustrup-2013, p. 208]
  AfterEnum: false # [Meyers-2014, p. 67; Stroustrup-2013, p. 50; Williams-2012, p. 375]
  AfterFunction: true # [Koenig-1999, p. 2; Meyers-2014, p. 3; Stroustrup-2013, p. 39]
  AfterNamespace: false # [Dewhurst-2002, Gotcha #22; Stroustrup-2013, p. 415; Cline-1998, FAQ 15.02] 
  AfterStruct: false # [Koenig-1999, p. 16; Stroustrup-2013, p. 1194]
  AfterUnion: false # [Schildt-2003, p. 297; Stroustrup-2013, p. 216]
  AfterExternBlock: true # `false` does not yield the results I'd expect
  BeforeCatch: false # [Koenig-1999, p. 287; Schildt-2003, p. 349]
  BeforeElse: false # [Bulka-1999, p. 20; Koenig-1999, p. 16]
  IndentBraces: false # [Alexandrescu-2001, p. 25; Schildt-2003, p. 61]
  SplitEmptyFunction: false # [Bulka-1999, p. 11; Meyers-2014, p. 100; Schildt-2003, p. 354]
  SplitEmptyRecord: false # [Stroustrup-2013, p. 365; Milewski-2001, p. 46]
  SplitEmptyNamespace: false # Used only when AfterNamespace == false, which is not the case

BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
ColumnLimit: 120 # [Martin-2009, p.86]
ConstructorInitializerAllOnOneLineOrOnePerLine: true # For one line: [Stroustrup-2014, p. 633]
ConstructorInitializerIndentWidth: 0 # [Cline-1998, FAQ 22.01; Meyers-2014, p. 160]
ContinuationIndentWidth: 2 # [Meyers-2014, p. 23]
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: true # [Telles-2005, p. 87]
IncludeBlocks: Preserve
IndentCaseLabels: false # [Stroustrup-2013, p. 44]
IndentPPDirectives: AfterHash
IndentWidth: 2 # [Sutter-2001, p. 18]
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None # [Dewhurst-2002, Gotcha #22]
PointerAlignment: Left # [Stroustrup-2013, p. 49]
SortIncludes: true
SpacesBeforeTrailingComments: 1 # [Martin-2009, p. 18, 24, 56...]
SpacesInAngles: false # [Stroustrup-2013, p. 41; Meyers-2014, p. 17; Pohl-2002, p. 39]
...
