---
Language: Cpp
# From github.com/frederic-perez/Clang-format-playground
AccessModifierOffset: -2 # = -IndentWidth # [Stroustrup-2013, p. 49; A. Koenig-1999, p. 1]
AlignTrailingComments: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false # [Dewhurst-2002, Gotcha #35]
  AfterControlStatement: false # if-else: [Koenig-1999, p. 16; Meyers-2014, p. 218], for: [Koenig-1999, p. 97; Stroustrup-2013, p. 208]
  AfterEnum: false # [Meyers-2014, p. 67; Stroustrup-2013, p. 50; Williams-2012, p. 375]
  AfterFunction: true # [Koenig-1999, p. 2; Meyers-2014, p. 3; Stroustrup-2013, p. 39]
  AfterNamespace: false # [Dewhurst-2002, Gotcha #22; Stroustrup-2013, p. 415; Cline-1998, FAQ 15.02] 
  AfterStruct: false # [Koenig-1999, p. 16; Stroustrup-2013, p. 1194]
  AfterUnion: false # [Schildt-2003, p. 297; Stroustrup-2013, p. 216]
  AfterExternBlock: true # `false` does not yield the results I'd expect
  BeforeCatch: false # [Koenig-1999, p. 287; Schildt-2003, p. 349]
  # BeforeElse: 
  # IndentBraces: 
  # SplitEmptyFunction: 
  # SplitEmptyRecord: 
  # SplitEmptyNamespace: 

FixNamespaceComments: true # [Telles-2005, p. 87]
IndentCaseLabels: false # [Stroustrup-2013, p. 44]
IndentWidth: 2 # [Sutter-2001, p. 18]
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None # [Dewhurst-2002, Gotcha #22]
SpacesBeforeTrailingComments: 1 # [Martin-2009, p. 18, 24, 56...]
...

